<div class="h-full flex items-center">
  <div class="flex flex-col items-center gap-y-5 w-full px-6 text-center">
    <div class="font-wb-serif text-[18px] italic text-wb-brown">{{- 'sections.cart.empty' | t -}}</div>

    <a href="#plantillas" class="wb-btn-primary js-cart-drawer-close">Ver plantillas</a>
  </div>
</div>
