@keyframes spin {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.processing-spinner {
  position: relative;
  color: transparent !important;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: 2px solid;
    border-color: var(--spinner-color, #fff);
    border-right-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;
  }
}

/* LOADING SPINNER */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(var(--color-foreground));
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

/* arrow animation */
.animate-arrow .icon-arrow path {
  transform: translateX(-0.25rem);
  transition: transform 150ms ease;
}

.animate-arrow:hover .icon-arrow path {
  transform: translateX(-0.05rem);
}

/* Loading overlay */
.loading-overlay {
  @apply -top-2 -left-2 absolute w-[calc(100%+16px)] h-[calc(100%+16px)] opacity-70 hidden z-[5] rounded-[10px];

  .loading & {
    @apply block;
  }
}
