.form__label {
  @apply block body-3;
}

.form__input {
  @apply body-3 border border-solid border-primary-light min-h-[50px] rounded-[25px] w-full py-2 px-4 bg-transparent;

  &.small {
    @apply min-h-[35px] py-1 body-4;
  }

  &:focus {
    @apply outline outline-primary-light outline-offset-0 outline-2;
  }
}

textarea.form__input {
  @apply p-3;
}

select.form__input {
  @apply min-w-[40px] pr-6 cursor-pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%232E2B35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;

  option {
    @apply text-[14px];

    &:first-child[value=''] {
      @apply text-[12px] text-disabled;
    }
  }
}

input[type='range'].form__input_range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  height: 5px;
  background: #d9d9d9;
  background: linear-gradient(to right, #235b4c var(--slider-progress), #d9d9d9 var(--slider-progress));

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cbcbcb;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 5px rgba(35, 91, 76, 0.1);
    }

    &:active {
      box-shadow: 0 0 0 8px rgba(35, 91, 76, 0.2);
    }
  }

  &::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cbcbcb;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 5px rgba(35, 91, 76, 0.1);
    }

    &:active {
      box-shadow: 0 0 0 8px rgba(35, 91, 76, 0.2);
    }
  }
}

.form__switch {
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 35px;
    height: 21px;
    background: #d9d9d9;
    display: block;
    border-radius: 30px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 17px;
      height: 17px;
      background: #fff;
      border-radius: 17px;
      transition: 0.3s;
    }
  }

  input:checked + label {
    background: #32d583;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}
